@import './variables';

.form {
  position: relative;
  top: 85vh;
  height: 140vh;
  background-color: $color_secondary;
  padding: 10% 20%;
  color: $color_brand;
  &__info {
    text-align: center;
    margin-bottom: 6%;
    & p {
      padding-top: 3%;
    }
  }
  &__label {
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: $h3fontsize;
  }
}
.form__input {
  padding: 0;
  padding-left: 5px;
  margin: 0;
  height: 50px;
  color: $color_secondary-dark;
}
.input-name {
  width: 100%;
}
.form__container {
  display: flex;
  width: 100%;
  &-e {
    width: 50%;
  }
  &-p {
    padding-left: 20px;
    width: 50%;
  }
}
.input-23 {
  width: 100%;
}
.caja {
  margin: 20px auto;
  height: 51px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.caja::after {
  content: url('../../assets/icons/multimedia\ \(1\).png');
  display: table-cell;
  text-align: center;
  padding-top: 20px;
  width: 60px;
  height: 40px;
  background-color: $color_secondary-dark;
  position: absolute;
  top: 0;
  right: 0px;
  pointer-events: none;
}
.form__select {
  width: 100%;
  height: 51px;
  color: $color_secondary-dark;
}
.form__textArea {
  width: 100%;
  height: 22%;
  margin-bottom: 6%;
  color: $color_secondary-dark;
  padding: 5px 5px;
}
.form__radio {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  & div {
    margin-bottom: 18%;
    font-family: 'Montserrat', sans-serif;
    font-size: $h3fontsize;
    & label {
      padding-left: 5px;
    }
  }
}

@media (max-width: 900px) {
  .form {
    height: 120vh;
    &__info h1 {
      font-size: $h1movilfontsize;
    }
    &__info p {
      font-size: $p1movilfontsize;
    }
    & button {
      margin-left: 25%;
      text-align: center;
    }
  }

  .form__radio {
    width: 90%;
  }
}
