@import './variables';

.header {
  position: relative;
  z-index: 2;
  height: 15vh;
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  &__logo {
    padding-left: 0%;
  }
  &__nav-list {
    display: flex;
    justify-content: center;
    margin-right: 30%;
    & ul {
      display: flex;
    }
    & ul h2 {
      display: none;
    }
  }
  &__nav-list ul li {
    list-style: none;
    padding-right: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: $color_brand;
    cursor: pointer;
  }
}
.icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .show {
    display: flex;
    & ul {
      display: block;
      background-color: $color_brand;
      height: 30%;
      width: 30%;
      position: fixed;
      top: 10%;
      right: 0;
      & h2 {
        display: block;
        padding-top: 8px;
        padding-left: 10px;
        color: $color_secondary;
      }
      & li {
        margin-top: 2em;
        color: $color_secondary;
        text-align: center;
      }
    }
  }
  .hide {
    display: none;
  }
  .header {
    &__logo {
      width: 10px;
    }
  }
  .header .icon {
    display: block;
    cursor: pointer;
  }

  .header_nav-list:hover {
    background-color: $color_secondary;
    color: #ffffff;
  }
}
