@import './variables';

.header {
  position: relative;
  z-index: 2;
  height: 15vh;
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  &__logo {
    padding-left: 0%;
  }
  & nav menu {
    display: flex;
    justify-content: center;
    margin-right: 30%;
  }
  &__nav menu li {
    list-style: none;
    padding-right: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: $color_brand;
    cursor: pointer;
  }
}
.icon {
  display: none;
}

@media (max-width: 800px) {
  .show {
    display: block;
  }

  .hide {
    display: none;
  }
  .header {
    &__logo {
      width: 10px;
    }
  }

  .icon {
    cursor: pointer;
    display: block;
  }
}

header .burger {
  display: none;
}

@media screen and (max-width: 850px) {
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
  .header_nav menu {
    flex-direction: column;
    position: fixed;
    list-style: none;
    background-color: $color_brand;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    text-align: center;
    top: 70px;
    color: black;
  }
  header .burger {
    display: block;
  }
  menu li:hover {
    & a {
      color: #ffffff;
    }
    background-color: $color_secondary;
    color: #ffffff;
  }
}
